.fr {
    position: absolute;
    right: 2%;
    top: 1%;
}

.th-icone{
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.inline .form-control{
    border: none;
    border-bottom: 1px solid #ccc;
    background: var(--bs-light);
    border-radius: 0%;
}